			p {
				margin: 5px;
			}
			.settings {
				background-image: url(ext-4.0.7-gpl/shared/icons/fam/folder_wrench.png);
			}
			.nav {
				background-image: url(ext-4.0.7-gpl/shared/icons/fam/folder_go.png);
			}
			.info {
				background-image: url(ext-4.0.7-gpl/shared/icons/fam/information.png);
				color:#000088;
			}
			.textinfo {
					color:#000000;
					
			}
			.x-panel-body-default{
				background:#EEEEFF;
			}
			
			.x-panel.settings-tree .x-panel-body { background:#EEEEFF;   }
			.x-panel.settings-tree .x-grid-cell  { background-color:#EEEEFF; }
    		.x-panel.settings-tree .x-grid-row-selected .x-grid-cell, .x-grid-row-selected .x-grid-rowwrap-div
    												{
        												background-color:#EEEEFF !important;
        												font-weight: bold;
    												}


